	
 	</div>
 	<footer>
    	<h3>Diseñado y construido por Maldonado Pablo Ignacio. </h3>
    	<div id="footer__git">
    		<a href="https://github.com/McMaldo"><i class="fa-brands fa-github"></i>McMaldo</a>
    		<a href="https://gitlab.com/mcmaldo"><i class="fa-brands fa-gitlab"></i>McMaldo</a>
    	</div>
    	<div id="footer__extra">
    		<p>En base al framework de <a href="http://morphyx.com.ar/">MorphYX</a></p>
    		<p>Técnica n°3 Malv. Arg. 2024</p>
    	</div>
    </footer>
</body>
</html>